body { font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif; margin: 0; padding: 0; font-size: 14px; }
#wrapper {position: relative;margin:30px 0 }
#header { background: #000; color: #fff; padding: 6px 10px; display: flex; align-items: center; }
.left { float: left }
.right { float: right }
.clearfix-after:after, .clearfix:after, .clearfix:before { clear: both; display: table; content: ""; font-size: 0; height: 0; visibility: hidden }
.flex1 { flex: 1; }
.dblock { display: block }
input[type=text] {width:100%;height:40px;line-height:40px;box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; font-size: 16px; background-color: white; background-image: url(../images/searchicon.png); background-position: 10px center; background-repeat: no-repeat; padding: 0 20px 0 40px; -webkit-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out; }
.search-area {width:60%;position:relative}
.text-right {text-align:right}
.btn {height:40px;line-height:40px;text-align:center;padding:0 12px;background:#ff1d1d;position:absolute;right:0;top:0;cursor:pointer;border:0 !important;outline:none !important;color:#fff;font-weight:bold;transition:all 0.3s ease}
.logo {padding-left:15px;width:40%}
.btn:hover {background:#ff6565}
div {background-repeat: no-repeat;background-size: 100%;}
.frameClassDiv {cursor:move;overflow:hidden;}

iframe { transform: scale(0.219); -webkit-transform: scale(0.219); -o-transform: scale(0.219); -ms-transform: scale(0.219); -moz-transform: scale(0.219); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left; margin: 0; padding: 0; position: relative; background-color: #fff; border-color: #000; }
.mobile { background-image: url("../images/iphone.png"); position: absolute; width: 95px; height: 196px; top: 375px; left: 300px; z-index: 5; }
.mobile iframe { width: 320px; height: 480px; top: 32px; left: 11px; overflow-y: hidden; }
.tablet { background-image: url("../images/ipad.png"); width: 246px; height: 400px; z-index: 3; position: absolute; left: 120px; top: 230px }
.tablet iframe { width: 768px; height: 1024px; top: 35px; left: 38px; overflow-y: hidden }
.laptop { background-image: url("../images/macbook.png"); width: 477px; height: 307px; top: 264px; left: 560px; position: absolute; z-index: 2 }
.laptop iframe { width: 1280px; height: 802px; top: 26px; left: 60px; transform: scale(0.277); -webkit-transform: scale(0.277); -o-transform: scale(0.277); -ms-transform: scale(0.277); -moz-transform: scale(0.277); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left }
.desktop { position: absolute; width: 566px; height: 538px; background-image: url("../images/imac.png"); top: 0px; left: 220px; z-index: 1 }
.desktop iframe { left: 28px; top: 38px; width: 1600px; height: 992px; transform: scale(0.3181); -webkit-transform: scale(0.3181); -o-transform: scale(0.3181); -ms-transform: scale(0.3181); -moz-transform: scale(0.3181); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left }


@media (max-width: 1160px) {
.display { width: 95%; height: 550px; transform: scale(0.81); -webkit-transform: scale(0.81); -o-transform: scale(0.81); -ms-transform: scale(0.81); -moz-transform: scale(0.81) }
.desktop { left: 180px }
.laptop { left: 520px }
.tablet { left: 80px }
.mobile { left: 260px }
input { width: 88% }
}

@media (max-width: 1070px) {
.display { left: -50px }
}

@media (max-width: 1000px) {
.display { height: 500px; transform: scale(0.71); -webkit-transform: scale(0.71); -o-transform: scale(0.71); -ms-transform: scale(0.71); -moz-transform: scale(0.71); top: -40px }
.desktop { left: 140px }
.laptop { left: 480px }
.tablet { left: 40px }
.mobile { left: 220px }
}

@media (max-width: 850px) {
.display { height: 500px; transform: scale(0.65); -webkit-transform: scale(0.65); -o-transform: scale(0.65); -ms-transform: scale(0.65); -moz-transform: scale(0.65) }
.desktop { left: 100px }
.laptop { left: 440px }
.tablet { left: 0px }
.mobile { left: 180px }
}

@media (max-width: 768px) {
.display { height: 450px; transform: scale(0.55); -webkit-transform: scale(0.55); -o-transform: scale(0.55); -ms-transform: scale(0.55); -moz-transform: scale(0.55) }
}

@media (max-width: 670px) {
.display { height: 400px; left: -70px; transform: scale(0.45); -webkit-transform: scale(0.45); -o-transform: scale(0.45); -ms-transform: scale(0.45); -moz-transform: scale(0.45) }
}

@media (max-width: 560px) {
.display { height: 270px; top: -65px; transform: scale(0.37); -webkit-transform: scale(0.37); -o-transform: scale(0.37); -ms-transform: scale(0.37); -moz-transform: scale(0.37) }
}

@media (max-width: 440px) {
.display { left: -17px; top: -65px; width: 70px; transform: scale(0.35); -webkit-transform: scale(0.35); -o-transform: scale(0.35); -ms-transform: scale(0.35); -moz-transform: scale(0.35) }
}

@media (max-width: 380px) {
.display { height: 235px; left: -17px; top: -65px; width: 70px; transform: scale(0.27); -webkit-transform: scale(0.27); -o-transform: scale(0.27); -ms-transform: scale(0.27); -moz-transform: scale(0.27) }
.desktop { left: 100px }
.laptop { left: 515px }
.tablet { left: 0px }
.mobile { left: 180px }
}